body {
background-color: lightsalmon;
height: 1000px;
width: 100%;
}

.header {
    background-color: lightsalmon;
    padding: 20px;
    font-size: 20px;
    border: 70px solid salmon;
    border-radius: 40px;
    margin: 10px

}

span {
   background-color:rgb(250, 141, 11);
}

section {
background-color: lightsalmon;
padding:50px;
font-size: 20px;
border: 50px solid salmon;
   border-radius: 40px;
}

